<h1>Studpid Coaching</h1>

<div class="container">
  <div class = "question">
    <p><%= @ask%></p>
    <p>- You</p>
  </div>
</div>

<div class="container">
  <div class="answer">
    <p><%= @answer%></p>
    <p>- Your coach</p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path %>

